:host ::ng-deep.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.custom-filter-btn {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.custom-input {
  width: 200px;
  height: 62px;
}


.actions {
  display: flex;
  align-items: center;
}

mat-card {
  background-color: #ffc8c8;
}


mat-card {
  width: 1000px;
  margin: 10px;
}

mat-card-image {
  border-radius: 50%;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  padding-left: inherit;
  align-items: center;
  letter-spacing: 2px;
}

button {
  margin: 5px;
}

mat-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;/* Altura completa de la tarjeta */
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  overflow: hidden;
  background-color: red;
}

img {
  border-radius: 50%;
  clip-path: circle();
  max-width: 10%;
  height: auto;
  width: 100px;
  height: 50px;
  object-fit: cover;

}


/* media querys  */

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  mat-card {
    width: 1000px;
  }

  img {
    width: 100px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  mat-card {
    width: 600px;
  }

  img {
    width: 80px;
    max-width: unset;
  }
}

/* Estilos para pantallas pequeñas y extra pequeñas */
@media (max-width: 767px) {
  mat-card {
    width: 100%;
  }

  img {
    max-width: unset;
  }
}

/* Paginación */
.mat-paginator {
  background-color: #ffc8c8; 
}


mat-paginator  {
  background-color: #ffc8c8; 
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.5em;
    overflow: hidden;
}